.noteCard{
    margin: 0 auto;
    margin-top: 5vh;
    padding: 0;
    width: 80vw;
}
.content{
    display: wrap;
    text-align: left;
    font-size: 1rem;
    margin: 5vw
}
.body{
    font-size: 1rem;
}

.wrapper{
    background: rgba(255, 255, 255, 0);
}