.jumbotron{
    background: rgba(255, 255, 255, 0);
}

h1{
    font-family: 'Syne Tactile', cursive, Arial, Helvetica, sans-serif;
 }

 h3{
     padding-top:5vh;
     text-align: center;
     font-family: 'Oswald',Arial, Helvetica, sans-serif;
     font-size: 2rem;
     font-style: italic;
 }