.userInput{
    align-items: center;
    margin: 10vh auto;
    
    padding: 0;
    max-width: 80vw;
}

.header{
    margin: 5vh;
}

.inputBlock{
    margin-top: 10vh;
}
h2{
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
}